.ac-row{
    display: flex;
    margin: 5px; 
    width: 100%;
    background-color: var(--elementColor);
    border-radius: 20px;
    padding: 3px 0px;
    font-size: 1.1rem;

}

.ac-cell{
    padding: 5px 10px;
    background-color: var(--elementColor);
    border-radius: 20px;
    width: 33%;
    box-sizing: border-box;
}